.gallery-card-container{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.galleryCard{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin: 20px 0px;
}
.galleryImage{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.galleryInfo{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 30%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.414);
    backdrop-filter: blur(5px);
    color: white;
}
.galleryInfo h2{
    font-size: 1.2rem;
}
.galleryInfo p{
    color: rgb(208, 208, 208);
}
.specialGalleryWrapper{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.specialGalleryCard{
    width: 49%;
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 990px) {
    .specialGalleryWrapper,.gallery-card-container{
        width: 95%;
        flex-direction: column;
    }
    .specialGalleryCard,.galleryCard{
        width: 100%;
    }
    .galleryImage{
        height: 400px;
    }
    .specialGalleryCard{
        margin: 10px 0px;
    }
}